# Cleaning data
- listing.csv
    - spliting tables
    - cleaning the split tables and saving as their own csv file
<p>
- creating tables
    - host.csv
    - property_features.csv
    - property_prices.csv
    - property_reviews.csv
   </p>

In [4]:
import pandas as pd

In [5]:
listings = pd.read_csv('airbnb_dataset/listings.csv')

In [6]:
listings.columns

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'name', 'summary',
       'space', 'description', 'experiences_offered', 'neighborhood_overview',
       'notes', 'transit', 'thumbnail_url', 'medium_url', 'picture_url',
       'xl_picture_url', 'host_id', 'host_url', 'host_name', 'host_since',
       'host_location', 'host_about', 'host_response_time',
       'host_response_rate', 'host_acceptance_rate', 'host_is_superhost',
       'host_thumbnail_url', 'host_picture_url', 'host_neighbourhood',
       'host_listings_count', 'host_total_listings_count',
       'host_verifications', 'host_has_profile_pic', 'host_identity_verified',
       'street', 'neighbourhood', 'neighbourhood_cleansed',
       'neighbourhood_group_cleansed', 'city', 'state', 'zipcode', 'market',
       'smart_location', 'country_code', 'country', 'latitude', 'longitude',
       'is_location_exact', 'property_type', 'room_type', 'accommodates',
       'bathrooms', 'bedrooms', 'beds', 'bed_type', 'amenities', 'square_feet',
       'price', 'weekly_price', 'monthly_price', 'security_deposit',
       'cleaning_fee', 'guests_included', 'extra_people', 'minimum_nights',
       'maximum_nights', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'first_review', 'last_review', 'review_scores_rating',
       'review_scores_accuracy', 'review_scores_cleanliness',
       'review_scores_checkin', 'review_scores_communication',
       'review_scores_location', 'review_scores_value', 'requires_license',
       'license', 'jurisdiction_names', 'instant_bookable',
       'cancellation_policy', 'require_guest_profile_picture',
       'require_guest_phone_verification', 'calculated_host_listings_count',
       'reviews_per_month'],
      dtype='object')

In [7]:
listings.head()

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,review_scores_value,requires_license,license,jurisdiction_names,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,72635,https://www.airbnb.com/rooms/72635,20151107173015,2015-11-08,"3 Private Bedrooms, SW Austin",Conveniently located 10-15 from downtown in SW...,"We have three spare bedrooms, each with a quee...",Conveniently located 10-15 from downtown in SW...,none,Location and convenience are key. Easy access...,...,10.0,f,NaN,NaN,f,moderate,f,f,1,0.02
1,5386323,https://www.airbnb.com/rooms/5386323,20151107173015,2015-11-07,Cricket Trailer,Rent this cool concept trailer that has everyt...,Rental arrangements for this trailer allows yo...,Rent this cool concept trailer that has everyt...,none,We're talking about wherever you'd like in the...,...,NaN,f,NaN,NaN,f,moderate,f,f,1,NaN
2,8826517,https://www.airbnb.com/rooms/8826517,20151107173015,2015-11-07,Private room 1 in South Austin,"Upstairs, private, 12ft x 13 1/2ft room. Priv...",NaN,"Upstairs, private, 12ft x 13 1/2ft room. Priv...",none,NaN,...,NaN,f,NaN,NaN,f,flexible,f,f,2,NaN
3,8828616,https://www.airbnb.com/rooms/8828616,20151107173015,2015-11-08,Private room 2 in South Austin,"Upstairs, private, 11ft x 13 1/2ft room. Priv...",NaN,"Upstairs, private, 11ft x 13 1/2ft room. Priv...",none,NaN,...,NaN,f,NaN,NaN,f,flexible,f,f,2,NaN
4,8536913,https://www.airbnb.com/rooms/8536913,20151107173015,2015-11-08,Brand-New 3BR Austin Home,Brand-new 3BR/2BA Austin home with landscaped ...,Feel instantly at home at our brand new 3BR/2B...,Brand-new 3BR/2BA Austin home with landscaped ...,none,Entertainment and activities are plentiful her...,...,NaN,f,NaN,NaN,f,strict,f,f,2,NaN

In [8]:
listings = listings.drop(columns= ['listing_url', 'scrape_id', 'last_scraped', 'name', 'summary',
       'space', 'description', 'experiences_offered', 'neighborhood_overview',
       'notes', 'transit', 'thumbnail_url', 'medium_url', 'picture_url',
       'xl_picture_url', 'host_url','host_about', 'host_thumbnail_url', 'host_picture_url', 'host_listings_count', 'neighbourhood_cleansed',
       'neighbourhood_group_cleansed',  'market',
       'smart_location', 'calendar_updated', 'license', 'jurisdiction_names', 'requires_license'])

In [9]:
listings.drop([5832], inplace=True)
listings.reset_index(drop=True, inplace=True)

In [10]:
listings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5834 entries, 0 to 5833
Data columns (total 64 columns):
id                                  5834 non-null int64
host_id                             5834 non-null int64
host_name                           5819 non-null object
host_since                          5819 non-null object
host_location                       5809 non-null object
host_response_time                  4176 non-null object
host_response_rate                  4176 non-null object
host_acceptance_rate                3850 non-null object
host_is_superhost                   5819 non-null object
host_neighbourhood                  4977 non-null object
host_total_listings_count           5819 non-null float64
host_verifications                  5834 non-null object
host_has_profile_pic                5819 non-null object
host_identity_verified              5819 non-null object
street                              5834 non-null object
neighbourhood                       4800 non-null object
city                                5834 non-null object
state                               5834 non-null object
zipcode                             5809 non-null float64
country_code                        5834 non-null object
country                             5834 non-null object
latitude                            5834 non-null float64
longitude                           5834 non-null float64
is_location_exact                   5834 non-null object
property_type                       5834 non-null object
room_type                           5834 non-null object
accommodates                        5834 non-null int64
bathrooms                           5788 non-null float64
bedrooms                            5828 non-null float64
beds                                5811 non-null float64
bed_type                            5834 non-null object
amenities                           5834 non-null object
square_feet                         302 non-null float64
price                               5834 non-null object
weekly_price                        2227 non-null object
monthly_price                       1717 non-null object
security_deposit                    2770 non-null object
cleaning_fee                        3586 non-null object
guests_included                     5834 non-null int64
extra_people                        5834 non-null object
minimum_nights                      5834 non-null int64
maximum_nights                      5834 non-null int64
has_availability                    5834 non-null object
availability_30                     5834 non-null int64
availability_60                     5834 non-null int64
availability_90                     5834 non-null int64
availability_365                    5834 non-null int64
calendar_last_scraped               5834 non-null object
number_of_reviews                   5834 non-null int64
first_review                        3826 non-null object
last_review                         3828 non-null object
review_scores_rating                3788 non-null float64
review_scores_accuracy              3775 non-null float64
review_scores_cleanliness           3777 non-null float64
review_scores_checkin               3777 non-null float64
review_scores_communication         3777 non-null float64
review_scores_location              3778 non-null float64
review_scores_value                 3777 non-null float64
instant_bookable                    5834 non-null object
cancellation_policy                 5834 non-null object
require_guest_profile_picture       5834 non-null object
require_guest_phone_verification    5834 non-null object
calculated_host_listings_count      5834 non-null int64
reviews_per_month                   3826 non-null float64
dtypes: float64(16), int64(12), object(36)
memory usage: 2.8+ MB

In [11]:
# creating a id column dataframe to concatinate to other tables
id = listings.iloc[:,:1]

## Splitting large table into smaller tables

### Host table split

In [68]:
host_cols = listings.columns[:14].tolist()
host = listings.loc[:, (host_cols)]

host.to_csv("host.csv", index=False)

In [69]:
host.head()

,id,host_id,host_name,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_neighbourhood,host_total_listings_count,host_verifications,host_has_profile_pic,host_identity_verified
0,72635,377044,Jason & Marcie,2011-02-04,"Austin, Texas, United States",NaN,NaN,NaN,f,Circle C,1.0,"['email', 'facebook', 'linkedin', 'reviews']",t,f
1,5386323,27922117,Michael,2015-02-17,"Austin, Texas, United States",NaN,NaN,NaN,f,Circle C,1.0,"['email', 'phone', 'google', 'kba']",t,t
2,8826517,46230038,Ric,2015-10-10,"Austin, Texas, United States",NaN,NaN,NaN,f,NaN,2.0,"['email', 'phone', 'linkedin', 'jumio']",t,t
3,8828616,46230038,Ric,2015-10-10,"Austin, Texas, United States",NaN,NaN,NaN,f,NaN,2.0,"['email', 'phone', 'linkedin', 'jumio']",t,t
4,8536913,31148752,Bo,2015-04-13,US,within a few hours,98%,81%,f,Holly,301.0,"['email', 'phone', 'linkedin', 'reviews', 'jum...",t,t

In [70]:
host.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5834 entries, 0 to 5833
Data columns (total 14 columns):
id                           5834 non-null int64
host_id                      5834 non-null int64
host_name                    5819 non-null object
host_since                   5819 non-null object
host_location                5809 non-null object
host_response_time           4176 non-null object
host_response_rate           4176 non-null object
host_acceptance_rate         3850 non-null object
host_is_superhost            5819 non-null object
host_neighbourhood           4977 non-null object
host_total_listings_count    5819 non-null float64
host_verifications           5834 non-null object
host_has_profile_pic         5819 non-null object
host_identity_verified       5819 non-null object
dtypes: float64(1), int64(2), object(11)
memory usage: 638.2+ KB

In [71]:
# converting to datetime
host.host_since = pd.to_datetime(host.host_since)

In [72]:
host.host_response_rate = host.host_response_rate.str.split('%').str[0]

In [73]:
# converting % into float
host.host_response_rate = host['host_response_rate'].astype(float)

In [74]:
host.host_response_rate = host.host_response_rate/100

---

In [75]:
# split str to grab numeric value
host.host_acceptance_rate = host.host_acceptance_rate.str.split('%').str[0]

In [76]:
# converting datatype to float
host.host_acceptance_rate = host.host_acceptance_rate.astype(float)

In [77]:
# converting to percentage
host.host_acceptance_rate = host.host_acceptance_rate/100

---

In [78]:
# boolean datatype
host.host_is_superhost

0       f
1       f
2       f
3       f
4       f
       ..
5829    f
5830    t
5831    f
5832    f
5833    f
Name: host_is_superhost, Length: 5834, dtype: object

In [79]:
i = {'t': True, 'f': False}

In [80]:
# converting datatype to boolean
host.host_is_superhost = host.host_is_superhost.map(i)

host.host_is_superhost = host.host_is_superhost.astype(bool)

---

In [81]:
host.host_has_profile_pic = host.host_has_profile_pic.map(i)
host.host_has_profile_pic = host.host_has_profile_pic.astype(bool)

In [82]:
host.host_identity_verified = host.host_identity_verified.map(i)
host.host_identity_verified = host.host_identity_verified.astype(bool)

In [83]:
host.head()

,id,host_id,host_name,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_neighbourhood,host_total_listings_count,host_verifications,host_has_profile_pic,host_identity_verified
0,72635,377044,Jason & Marcie,2011-02-04,"Austin, Texas, United States",NaN,NaN,NaN,False,Circle C,1.0,"['email', 'facebook', 'linkedin', 'reviews']",True,False
1,5386323,27922117,Michael,2015-02-17,"Austin, Texas, United States",NaN,NaN,NaN,False,Circle C,1.0,"['email', 'phone', 'google', 'kba']",True,True
2,8826517,46230038,Ric,2015-10-10,"Austin, Texas, United States",NaN,NaN,NaN,False,NaN,2.0,"['email', 'phone', 'linkedin', 'jumio']",True,True
3,8828616,46230038,Ric,2015-10-10,"Austin, Texas, United States",NaN,NaN,NaN,False,NaN,2.0,"['email', 'phone', 'linkedin', 'jumio']",True,True
4,8536913,31148752,Bo,2015-04-13,US,within a few hours,0.98,0.81,False,Holly,301.0,"['email', 'phone', 'linkedin', 'reviews', 'jum...",True,True

In [84]:
host.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5834 entries, 0 to 5833
Data columns (total 14 columns):
id                           5834 non-null int64
host_id                      5834 non-null int64
host_name                    5819 non-null object
host_since                   5819 non-null datetime64[ns]
host_location                5809 non-null object
host_response_time           4176 non-null object
host_response_rate           4176 non-null float64
host_acceptance_rate         3850 non-null float64
host_is_superhost            5834 non-null bool
host_neighbourhood           4977 non-null object
host_total_listings_count    5819 non-null float64
host_verifications           5834 non-null object
host_has_profile_pic         5834 non-null bool
host_identity_verified       5834 non-null bool
dtypes: bool(3), datetime64[ns](1), float64(3), int64(2), object(5)
memory usage: 518.6+ KB

In [86]:
host.to_csv("2_host.csv", index=False)

---

### Property features table split

In [30]:
property_features = listings.iloc[:, 14:33]

In [31]:
property_features.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5834 entries, 0 to 5833
Data columns (total 19 columns):
street               5834 non-null object
neighbourhood        4800 non-null object
city                 5834 non-null object
state                5834 non-null object
zipcode              5809 non-null float64
country_code         5834 non-null object
country              5834 non-null object
latitude             5834 non-null float64
longitude            5834 non-null float64
is_location_exact    5834 non-null object
property_type        5834 non-null object
room_type            5834 non-null object
accommodates         5834 non-null int64
bathrooms            5788 non-null float64
bedrooms             5828 non-null float64
beds                 5811 non-null float64
bed_type             5834 non-null object
amenities            5834 non-null object
square_feet          302 non-null float64
dtypes: float64(7), int64(1), object(11)
memory usage: 866.1+ KB

In [32]:
property_features.head()

,street,neighbourhood,city,state,zipcode,country_code,country,latitude,longitude,is_location_exact,property_type,room_type,accommodates,bathrooms,bedrooms,beds,bed_type,amenities,square_feet
0,"West Slaughter Lane, Austin, TX 78749, United ...",Circle C,Austin,TX,78749.0,US,United States,30.202824,-97.884309,t,House,Private room,6,2.5,1.0,3.0,Real Bed,"{""Cable TV"",Internet,""Wireless Internet"",""Air ...",3600.0
1,"Seneca Falls Loop, Austin, TX 78739, United St...",Circle C,Austin,TX,78739.0,US,United States,30.199414,-97.900684,t,Camper/RV,Private room,2,0.0,1.0,1.0,Futon,"{""Air Conditioning"",Heating,""Family/Kid Friend...",NaN
2,"Mordor Cove, Austin, TX 78739, United States",NaN,Austin,TX,78739.0,US,United States,30.168496,-97.864483,t,House,Private room,2,1.5,1.0,1.0,Real Bed,"{TV,""Cable TV"",Internet,""Wireless Internet"",""A...",NaN
3,"Mordor Cove, Austin, TX 78739, United States",NaN,Austin,TX,78739.0,US,United States,30.168621,-97.864874,t,House,Private room,2,1.5,1.0,1.0,Real Bed,"{TV,""Cable TV"",Internet,""Wireless Internet"",""A...",NaN
4,"Allamanda Drive, Austin, TX 78739, United States",NaN,Austin,TX,78739.0,US,United States,30.169426,-97.888319,t,House,Entire home/apt,6,2.0,3.0,3.0,Real Bed,"{TV,""Cable TV"",Internet,""Wireless Internet"",""A...",NaN

In [33]:
property_features.is_location_exact = property_features.is_location_exact.map(i)
property_features.is_location_exact = property_features.is_location_exact.astype(bool)

In [34]:
property_features = pd.concat([id,property_features], axis=1)

In [62]:
property_features.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5834 entries, 0 to 5833
Data columns (total 20 columns):
id                   5834 non-null int64
street               5834 non-null object
neighbourhood        4800 non-null object
city                 5834 non-null object
state                5834 non-null object
zipcode              5809 non-null float64
country_code         5834 non-null object
country              5834 non-null object
latitude             5834 non-null float64
longitude            5834 non-null float64
is_location_exact    5834 non-null bool
property_type        5834 non-null object
room_type            5834 non-null object
accommodates         5834 non-null int64
bathrooms            5788 non-null float64
bedrooms             5828 non-null float64
beds                 5811 non-null float64
bed_type             5834 non-null object
amenities            5834 non-null object
square_feet          302 non-null float64
dtypes: bool(1), float64(7), int64(2), object(10)
memory usage: 871.8+ KB

In [35]:
# property_features.to_csv("2_property_features.csv", index=False)

---

### Property Price + Availability table split

In [36]:
property_price = listings.iloc[:, 33:48]

In [37]:
property_price = pd.concat([id, property_price], axis=1)

In [38]:
property_price.head()

,id,price,weekly_price,monthly_price,security_deposit,cleaning_fee,guests_included,extra_people,minimum_nights,maximum_nights,has_availability,availability_30,availability_60,availability_90,availability_365,calendar_last_scraped
0,72635,$300.00,NaN,NaN,NaN,NaN,1,$0.00,2,10,t,0,0,0,240,2015-11-07
1,5386323,$99.00,$600.00,NaN,"$1,000.00",$75.00,1,$0.00,3,7,t,29,59,89,364,2015-11-07
2,8826517,$100.00,NaN,NaN,NaN,NaN,1,$0.00,1,1125,t,30,60,90,365,2015-11-07
3,8828616,$100.00,NaN,NaN,NaN,NaN,1,$0.00,1,1125,t,30,60,90,365,2015-11-07
4,8536913,$599.00,NaN,NaN,NaN,$125.00,1,$0.00,2,1125,t,27,57,87,358,2015-11-07

In [39]:
property_price.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5834 entries, 0 to 5833
Data columns (total 16 columns):
id                       5834 non-null int64
price                    5834 non-null object
weekly_price             2227 non-null object
monthly_price            1717 non-null object
security_deposit         2770 non-null object
cleaning_fee             3586 non-null object
guests_included          5834 non-null int64
extra_people             5834 non-null object
minimum_nights           5834 non-null int64
maximum_nights           5834 non-null int64
has_availability         5834 non-null object
availability_30          5834 non-null int64
availability_60          5834 non-null int64
availability_90          5834 non-null int64
availability_365         5834 non-null int64
calendar_last_scraped    5834 non-null object
dtypes: int64(8), object(8)
memory usage: 729.4+ KB

#### Cleaning and organizing datatypes

In [40]:
# # split the $ symbol
# # replace any commas
# # convert into float
property_price.price = property_price.price.str.split('$').str[1]
property_price.price = property_price.price.replace(',', '', regex=True)
property_price.price = property_price.price.astype(float)

In [41]:
property_price.weekly_price = property_price.weekly_price.str.split('$').str[1]
property_price.weekly_price = property_price.weekly_price.replace(',', '', regex=True)
property_price.weekly_price = property_price.weekly_price.astype(float)

In [42]:
property_price.monthly_price = property_price.monthly_price.str.split('$').str[1]
property_price.monthly_price = property_price.monthly_price.replace(',', '', regex=True)
property_price.monthly_price = property_price.monthly_price.astype(float)

In [43]:
property_price.security_deposit = property_price.security_deposit.str.split('$').str[1]
property_price.security_deposit = property_price.security_deposit.replace(',', '', regex=True)
property_price.security_deposit = property_price.security_deposit.astype(float)

In [44]:
property_price.cleaning_fee = property_price.cleaning_fee.str.split('$').str[1]
property_price.cleaning_fee = property_price.cleaning_fee.replace(',', '', regex=True)
property_price.cleaning_fee = property_price.cleaning_fee.astype(float)

In [45]:
property_price.extra_people = property_price.extra_people.str.split('$').str[1]
property_price.extra_people = property_price.extra_people.astype(float)

In [46]:
# applying boolean datatype
property_price.has_availability = property_price.has_availability.map(i)
property_price.has_availability = property_price.has_availability.astype(bool)

In [47]:
# converting to datetime
property_price.calendar_last_scraped = pd.to_datetime(property_price.calendar_last_scraped)

In [87]:
property_price.head(8)

,id,price,weekly_price,monthly_price,security_deposit,cleaning_fee,guests_included,extra_people,minimum_nights,maximum_nights,has_availability,availability_30,availability_60,availability_90,availability_365,calendar_last_scraped
0,72635,300.0,NaN,NaN,NaN,NaN,1,0.0,2,10,True,0,0,0,240,2015-11-07
1,5386323,99.0,600.0,NaN,1000.0,75.0,1,0.0,3,7,True,29,59,89,364,2015-11-07
2,8826517,100.0,NaN,NaN,NaN,NaN,1,0.0,1,1125,True,30,60,90,365,2015-11-07
3,8828616,100.0,NaN,NaN,NaN,NaN,1,0.0,1,1125,True,30,60,90,365,2015-11-07
4,8536913,599.0,NaN,NaN,NaN,125.0,1,0.0,2,1125,True,27,57,87,358,2015-11-07
5,8542056,100.0,NaN,NaN,NaN,NaN,1,0.0,1,1125,True,30,60,90,365,2015-11-07
6,6385948,54.0,NaN,NaN,NaN,15.0,2,25.0,1,1125,True,0,0,26,301,2015-11-07
7,8486890,40.0,NaN,NaN,NaN,25.0,2,10.0,1,7,True,16,16,37,312,2015-11-07

In [48]:
property_price.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5834 entries, 0 to 5833
Data columns (total 16 columns):
id                       5834 non-null int64
price                    5834 non-null float64
weekly_price             2227 non-null float64
monthly_price            1717 non-null float64
security_deposit         2770 non-null float64
cleaning_fee             3586 non-null float64
guests_included          5834 non-null int64
extra_people             5834 non-null float64
minimum_nights           5834 non-null int64
maximum_nights           5834 non-null int64
has_availability         5834 non-null bool
availability_30          5834 non-null int64
availability_60          5834 non-null int64
availability_90          5834 non-null int64
availability_365         5834 non-null int64
calendar_last_scraped    5834 non-null datetime64[ns]
dtypes: bool(1), datetime64[ns](1), float64(6), int64(8)
memory usage: 689.5 KB

In [49]:
property_price.to_csv('2_property_price.csv', index=False)

---

#### Property Review table split

In [50]:
property_reviews = listings.iloc[:, 48:]

In [51]:
property_reviews = pd.concat([id, property_reviews], axis=1)

In [52]:
property_reviews.head()

,id,number_of_reviews,first_review,last_review,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,72635,1,2011-03-21,2011-03-21,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f,moderate,f,f,1,0.02
1,5386323,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,moderate,f,f,1,NaN
2,8826517,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,flexible,f,f,2,NaN
3,8828616,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,flexible,f,f,2,NaN
4,8536913,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,strict,f,f,2,NaN

In [53]:
property_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5834 entries, 0 to 5833
Data columns (total 17 columns):
id                                  5834 non-null int64
number_of_reviews                   5834 non-null int64
first_review                        3826 non-null object
last_review                         3828 non-null object
review_scores_rating                3788 non-null float64
review_scores_accuracy              3775 non-null float64
review_scores_cleanliness           3777 non-null float64
review_scores_checkin               3777 non-null float64
review_scores_communication         3777 non-null float64
review_scores_location              3778 non-null float64
review_scores_value                 3777 non-null float64
instant_bookable                    5834 non-null object
cancellation_policy                 5834 non-null object
require_guest_profile_picture       5834 non-null object
require_guest_phone_verification    5834 non-null object
calculated_host_listings_count      5834 non-null int64
reviews_per_month                   3826 non-null float64
dtypes: float64(8), int64(3), object(6)
memory usage: 775.0+ KB

In [54]:
property_reviews.first_review = pd.to_datetime(property_reviews.first_review)
property_reviews.last_review = pd.to_datetime(property_reviews.last_review)

In [55]:
property_reviews.instant_bookable = property_reviews.instant_bookable.map(i)
property_reviews.instant_bookable = property_reviews.instant_bookable.astype(bool)

In [56]:
property_reviews.require_guest_profile_picture = property_reviews.require_guest_profile_picture.map(i)
property_reviews.require_guest_profile_picture = property_reviews.require_guest_profile_picture.astype(bool)

In [57]:
property_reviews.require_guest_phone_verification = property_reviews.require_guest_phone_verification.map(i)
property_reviews.require_guest_phone_verification = property_reviews.require_guest_phone_verification.astype(bool)

In [58]:
property_reviews.head()

,id,number_of_reviews,first_review,last_review,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,72635,1,2011-03-21,2011-03-21,100.0,10.0,10.0,10.0,10.0,10.0,10.0,False,moderate,False,False,1,0.02
1,5386323,0,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,moderate,False,False,1,NaN
2,8826517,0,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,flexible,False,False,2,NaN
3,8828616,0,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,flexible,False,False,2,NaN
4,8536913,0,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,strict,False,False,2,NaN

In [59]:
property_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5834 entries, 0 to 5833
Data columns (total 17 columns):
id                                  5834 non-null int64
number_of_reviews                   5834 non-null int64
first_review                        3826 non-null datetime64[ns]
last_review                         3828 non-null datetime64[ns]
review_scores_rating                3788 non-null float64
review_scores_accuracy              3775 non-null float64
review_scores_cleanliness           3777 non-null float64
review_scores_checkin               3777 non-null float64
review_scores_communication         3777 non-null float64
review_scores_location              3778 non-null float64
review_scores_value                 3777 non-null float64
instant_bookable                    5834 non-null bool
cancellation_policy                 5834 non-null object
require_guest_profile_picture       5834 non-null bool
require_guest_phone_verification    5834 non-null bool
calculated_host_listings_count      5834 non-null int64
reviews_per_month                   3826 non-null float64
dtypes: bool(3), datetime64[ns](2), float64(8), int64(3), object(1)
memory usage: 655.3+ KB

In [60]:
property_reviews.to_csv('2_property_reviews.csv', index=False)